HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# 编译文件
*/*/target
*/target

# idea文件
.idea
.idea/
.flattened-pom.xml
*.iml

# 忽略日志
*.log

#热部署
rebel.xml
jrebel-classpath*.jar

#忽略版式文件
layoutFile/

